@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #eee;
}

.PhoneInputInput {
    background-color: #eee !important;
    padding: 12px 10px;
    border-radius: 7px;
}

.PhoneInputInput:focus {
    outline: none;
}

.css-6j8wv5-Input::placeholder {
    color: #000 !important
}