@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(244 244 245);
}

.PhoneInputInput {
    background-color: #eee !important;
    padding: 12px 10px;
    border-radius: 7px;
}

.PhoneInputInput:focus {
    outline: none;
}

.sd-body.sd-body--static{
    max-width: 100% !important;
}

@media only screen and (max-width: 900px) {
    .sd-progress-buttons__list {
      display: none !important;
    }
  }